bg-color {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, transparent, gray-800, gray-900);
}

bg-color::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 10% 10%,
    transparent 20%,
    white 20%
  );
  opacity: 0.2;
  pointer-events: none;
}
.gradient-border {
  border-width: 2px; /* Set the desired border width */
  border-style: solid;
  border-image: linear-gradient(
    to right,
    rgb(165, 116, 10),
    yellow,
    rgb(115, 155, 7)
  ); /* Customize the gradient colors */
  border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
}
.gradient-border:hover {
  border-width: 2px; /* Set the desired border width */
  border-style: solid;
  border-image: linear-gradient(
    to right,
    yellow,
    rgb(165, 116, 10),
    rgb(16, 19, 199)
  ); /* Customize the gradient colors */
  border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #edeef0, #385591);
  -webkit-background-clip: text;
  color: transparent;
}
